{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<style>
    .card-img {
        width: 100% !important;
        height: 200px !important;
        object-fit: scale-down;
    }
</style>
<div class="container-fluid">
    <h1 class="text-center mb-4">{{ title }}</h1>
    <div class="row row-cols g-4">
        {% for data_entry in entries %}
        <div class="col-4">
            <a class="card rounded" href="{{ data_entry.url }}" target="_blank">
                <img class="card-img" src="{{ data_entry.img }}" alt="{{ data_entry.name }}">
            </a>
        </div>
        {% endfor %}
    </div>
    <form method="post" action="">
    <div class="mb-3 row">
    <label for="staticUsername" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input name="username" type="text" class="form-control" id="staticUsername">
    </div>
     <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input name="email" type="email" class="form-control" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input name="password" type="password" class="form-control" id="inputPassword">
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
    </form>
</div>
{% endblock %}